@charset "utf-8";
@import url(../css/button.css);

[lang="ko"]{word-break: keep-all}body{overflow-wrap: break-word;word-wrap:break-word;}abbr,acronym,fieldset,img,input{border:0}
*,select{box-sizing:border-box;margin:0;padding:0}
audio:not([controls]),hr{height:0;display:none}
a,a:active,a:hover,a:link,a:visited{text-decoration:none}
button,select{text-transform:none}
a:link,a:visited,body,html{color:#494949}
#accessibility a:link,#accessibility a:visited,a,a:hover{color:#333}

*{-webkit-touch-callout:none;font-synthesis: none;-moz-font-feature-settings: 'kern';-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}

html{-webkit-font-size-adjust:none;overflow-y:scroll;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
a,abbr,address,article,aside,audio,body,canvas,caption,cite,dd,details,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,img,label,legend,li,menu,nav,object,ol,p,section,span,strong,summary,table,tbody,td,tfoot,th,thead,tr,ul,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline;font-family: 'Spoqa Han Sans' , 'shs', 'Spoqa Han Sans EOT', SimHei, Sans-serif,'맑은고딕','Malgun Gothic', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,"FangSong", "仿宋", STFangSong, "华文仿宋","Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",AppleGothic,Dotum,arial,sans-serif;letter-spacing: -0.02em;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}
img{-webkit-tap-highlight-color:transparent;max-width:100%;vertical-align:top;-ms-interpolation-mode:bicubic}
body,html{height:100%;margin:0;padding:0;font-family: 'Spoqa Han Sans' , 'shs', 'Spoqa Han Sans EOT', SimHei, Sans-serif,'맑은고딕','Malgun Gothic', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,"FangSong", "仿宋", STFangSong, "华文仿宋","Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",AppleGothic,Dotum,arial,sans-serif;font-size:15px;line-height:1.5;letter-spacing: 0.01em;}
a,body,button,input,label,span{line-height:1.6}
blockquote,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,textarea,ul{margin:0;padding:0}
input,select,td,textarea,th{font-family: 'Spoqa Han Sans' , 'shs', 'Spoqa Han Sans EOT', SimHei, Sans-serif,'맑은고딕','Malgun Gothic', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,"FangSong", "仿宋", STFangSong, "华文仿宋","Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",AppleGothic,Dotum,arial,sans-serif;font-size:15px;color:#494949}
table{border-collapse:collapse;border-spacing:0;table-layout: fixed;display:table}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:400}
li,ol,ul{list-style:none}abbr,acronym{cursor:help}
caption,legend{overflow:hidden;position:relative;width:0;height:0;margin:0;pading:0;line-height:0}
button,
button[disabled],
html input[disabled],
input[type=reset],
input[type=submit],
label{cursor:pointer}
select{height:22px;line-height:1;border:1px solid #c9c9c9}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}
button,input,select,textarea{margin:0;font-size:100%;vertical-align:baseline;vertical-align:middle}
button,
html input[type=button],
input[type=reset],
input[type=submit]{overflow:visible;cursor:pointer;-webkit-appearance:button}
audio[controls],canvas,video{display:inline-block}

body,button{font-size:1em;color:#494949}
hr{clear:both;-moz-box-sizing:content-box;box-sizing:content-box}
a:active,a:hover,button:hover,button:active{outline:none}
a:focus,button:focus{outline:1px dotted #ddd;}
address,em{font-style:normal}
abbr[title]{border-bottom:1px dotted}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
button,input,label{vertical-align:middle}
button{border:0}
button,input,textarea{margin:0;font-size:100%;vertical-align:baseline}

.hide,.skip,
.sr-only{position:absolute;height:0;font-size:0}

button,input{overflow:visible;line-height:1}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}

input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
input[type=checkbox],input[type=radio]{box-sizing:border-box}

a{font-family: 'Spoqa Han Sans' , 'shs', 'Spoqa Han Sans EOT', SimHei, Sans-serif,'맑은고딕','Malgun Gothic', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,"FangSong", "仿宋", STFangSong, "华文仿宋","Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",AppleGothic,Dotum,arial,sans-serif;}
a:active,a:hover{color:#000}
.hide,.skip{top:0}

.sr-only{width:0;margin:-1px;padding:0;overflow:hidden;border:0;clip:rect(0,0,0,0)}
.sr-only-focusable:active,
.sr-only-focusable:focus{position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto}

input{font-size: inherit; font-family: inherit; color: inherit; vertical-align: middle}
input[type="file"]{border:none}
input[type="radio"],input[type="checkbox"]{border:none}
button{text-transform: none; vertical-align: middle}
button,
[type="button"],
[type="reset"],
[type="submit"] {cursor: pointer; }
select{font-size: inherit; font-family: inherit; color: inherit;text-transform: none;vertical-align: middle;}
textarea{font-size: inherit; font-family: inherit; color: inherit; vertical-align: middle; resize:none;}
input[disabled="disabled"]{background-color:#ebebeb; color:#959595}
select[disabled="disabled"]{background-color:#ebebeb; color:transparent}
input[type=text]{appearance:none;-webkit-appearance:none;-moz-appearance:none;}
input[type=text]::-ms-clear{display:none;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{appearance:none;-webkit-appearance:none;-moz-appearance:none;}
select{padding:0 15px 0 5px;background:transparent url(../images/common/ico_arr_select.svg) no-repeat 100% 50%;background-size:25px auto;appearance:none;-webkit-appearance:none;-moz-appearance:none;-webkit-appearance: none;-ms-appearance: none;-o-appearance: none;}
select::-ms-expand {display: none;}
b{font-weight:normal;}
