@charset "utf-8";
@font-face {
    font-family: 'Spoqa Han Sans Neo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Spoqa Han Sans Neo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family:'Spoqa Han Sans Neo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansM';
    src: url('../font/gmarketsans/GmarketSansM.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansB';
    src :url('../font/gmarketsans/GmarketSansB.woff') format('woff');
    font-weight: 600;
    font-style: bold;
}


h2{font-size:18px;font-weight:bold;color:#3a3a3a}
h3{margin-bottom:20px;color:#3a3a3a;font-weight:bold}

.hide { display: none; }
.skip { display: inline-block; position: absolute; width: 1px; height: 1px; margin: 0; padding: 0; background: none; font-size: 0; color: transparent; line-height: 0; }
.bar_title{position:relative;color:#1B1B1B;padding-left:10px;}
.bar_title:after{content:"";display:block;}

.box_input, 
.input_select{height:36px;border:2px solid #E8E8E8; box-sizing: border-box;color: #848484;font-size: 15px;line-height:30px;border-radius:3px;}
.box_input{padding: 0 10px;}
.input_select {padding:0 30px 0 10px;background-color:#fff;}
textarea.boxarea{height:120px;padding:10px;border:2px solid #E8E8E8; box-sizing: border-box;color: #848484;font-size: 15px;border-radius:3px;}
.h350{height: 350px !important;}

.input_select::placeholder,
.box_input::placeholder{color:#848484}

.w40{width:40px;}
.w60{width:60px;}
.w80{width:80px;}
.w100{width:100px;}
.w170{width:177px;}
.w200{width:200px!important;}
.w220{width:220px!important;}
.w100p{width:100%;}

.f_align_a_top{align-items:flex-start!important}

.ico{display:inline-block;text-indent:-999px;overflow:hidden;}
.ico.bi-plus{width:13px;height:13px;line-height:20px;padding:11px 0;background:url(../images/common/ico_plus.svg) no-repeat 50% 50%;}
.btn:hover .ico.bi-plus{background-image:url(../images/common/ico_plus_w.svg);}
.btn:hover .ico.bi-minus{background-image:url(../images/common/ico_minus_w.svg);}

.ico.bi-minus{width:12px;height:23px;line-height:20px;background:url(../images/common/ico_minus.svg) no-repeat 0 50%;}
.ico.bi-arr{width:13px;height:13px;line-height:20px;background:url(../images/common/ico_arr.svg) no-repeat 0 50%;}
.ico.bi-arr-w{width:8px;height:11px;background-image:url(../images/common/ico_arr_w.svg);}

.ico.state_yes{width:20px;height:20px;background:url(../images/common/ico_check_yes.svg) no-repeat;}
.ico.state_no{width:20px;height:20px;background:url(../images/common/ico_check_no.svg) no-repeat;}
.ico.state_none{width:20px;height:20px;background:url(../images/common/ico_check_none.svg) no-repeat;}

.btnwrap{display:flex;justify-content:center;width:100%;}
.btnwrap button{margin:0 0 0 4px;}
.btnwrap.sm button{margin:0 1px;}/* fileico wrap  */
.btnwrap.lg button{flex-basis:170px;justify-content:center;font-weight:bold}

.tag{display:inline-flex;align-items:center;justify-content:center;padding:4px 12px;font-size:15px;border-radius:3px;}
.tag .ico{margin-right:4px;}
.tag.state_ing{color:#E86777;background:#F9E8EA;border-radius:100px;padding:4px 15px;}
.tag.state_end{color:#666;background:#eeeeee;border-radius:100px}
.tag.state_yes{color:#1AA896;}
.tag.state_no{color:#F66D6D;}
.tag.state_app_yes{padding:2px 15px;color:#fff;background:#DAF5EB;border-radius:100px;font-size:14px;border:1px solid #46CE9B;color:#27A374}
.tag.state_app_ready{padding:2px 10px;color:#fff;background:#fff;border-radius:100px;font-size:14px;border:1px solid #AFAFAF;color:#7b7b7b}
.tag.state_app_no{padding:2px 10px;color:#F66D6D;background:#FDE2E2;border-radius:100px;font-size:14px;}
.tag.state_off{padding:2px 10px;color:#182869;background:#EDEDED;border-radius:100px;font-size:14px;}
.tag.state_on{padding:2px 10px;color:#0057FF;background:#E2E8FB;border-radius:100px;font-size:14px;}

/* list */
.list-1st{margin:10px 0;padding:0}
.list-1st dd,
.list-1st li,
.txt_bul{position:relative;margin:3px 0;padding-left:7px;color:#666;font-size:16px;line-height:1.3}
.list-1st dd:before,
.list-1st li:before,
.txt_bul:before{background:#a0a0a0;width:3px;height:3px;position:absolute;top:10px;display:inline-block}
.list-2st{margin:4px 0;padding:0}
.list-2st li{position:relative;margin:3px 0;padding-left:11px;color:#666;line-height:1.3}
.list-2st dd:before,
.list-2st li:before,
.txt_bul2:before{background:#222;width:6px;height:1px;position:absolute;top:10px;left:0;content:'';display:inline-block}
.list-3st{margin:4px 0;padding:0}
.list-3st li{margin:3px 0;padding-left:11px}
.list-1st dd b,
.list-1st li b,
.list-2st li b,
.list-3st li b{vertical-align:baseline}
.list-num li{margin:7px 0;padding-left:26px;line-height:21px}
.list-num .badge{margin:0 5px 0 -26px}

.list-1st li .list-2st {margin-bottom:20px;margin-left:20px;}
/* margin */
.m_0{margin:0}
.m_5{margin:5px}
.m_10{margin:10px}
.m_15{margin:15px}
.m_20{margin:20px}
.m_25{margin:25px}
.m_30{margin:30px}
.m_35{margin:35px}
.m_40{margin:40px}
.m_45{margin:45px}
.m_50{margin:50px}
.mt_0{margin-top:0}
.mt_5{margin-top:5px}
.mt_10{margin-top:10px}
.mt_15{margin-top:15px}
.mt_20{margin-top:20px}
.mt_25{margin-top:25px}
.mt_30{margin-top:30px}
.mt_35{margin-top:35px}
.mt_40{margin-top:40px}
.mt_45{margin-top:45px}
.mt_50{margin-top:50px}
.ml_0{margin-left:0}
.ml_5{margin-left:5px}
.ml_10{margin-left:10px}
.ml_15{margin-left:15px}
.ml_20{margin-left:20px}
.ml_25{margin-left:25px}
.ml_30{margin-left:30px}
.ml_35{margin-left:35px}
.ml_40{margin-left:40px}
.ml_45{margin-left:45px}
.ml_50{margin-left:50px}
.mr_0{margin-right:0}
.mr_5{margin-right:5px}
.mr_10{margin-right:10px}
.mr_14{margin-right:14px}
.mr_15{margin-right:15px}
.mr_20{margin-right:20px}
.mr_25{margin-right:25px}
.mr_30{margin-right:30px}
.mr_35{margin-right:35px}
.mr_40{margin-right:40px}
.mr_45{margin-right:45px}
.mr_50{margin-right:50px}
.mb_0{margin-bottom:0}
.mb_5{margin-bottom:5px}
.mb_10{margin-bottom:10px}
.mb_15{margin-bottom:15px}
.mb_20{margin-bottom:20px}
.mb_25{margin-bottom:25px}
.mb_30{margin-bottom:30px}
.mb_35{margin-bottom:35px}
.mb_40{margin-bottom:40px}
.mb_45{margin-bottom:45px}
.mb_50{margin-bottom:50px!important;}


.padd_t_0{padding-top:0!important}

.text-left{text-align:left!important}
.text-right{text-align:right!important}
.text-center{text-align:center!important}
.text-justify{text-align:justify!important}
.text-bold{font-weight:bold}
.text-normal{font-weight:normal}

/* list */
.list_1st {margin:10px 0;padding:0}
.list_1st li{position:relative;margin:3px 0;padding-left:11px;color:#555;font-size:15px;text-align:left;word-wrap:break-word;word-break:keep-all}
.list_1st li::after{content:"";display:block;position:absolute;left:0;top:10px;width:3px;height:3px;border-radius:10px;background:#666;}
/* table */
.table{border-bottom:1px solid #d9d9d9}
.table.center{text-align:center;}
.table td,
.table td *,
.table td img,
.table th,
.table th *,
.table-default td img{vertical-align:middle}
.table{margin-bottom:20px;width:100%;border-collapse:collapse;background-color:transparent}
.table td,
.table th{margin-left:-1px;padding:14px 9px;border-right:1px solid #D9D9D9;border-top:1px solid #D9D9D9;word-wrap:break-word;word-break:break-all;word-break:keep-all;color:#757575}
.table td{padding:12px 9px}
.table thead tr th{border-top:1px solid #2B2B2B;border-right:1px solid #ccc;}
.table thead th{color:#2B2B2B;font-size:15px;font-weight:500;background:#F9F9F9}
.table tbody th{color:#2B2B2B;font-weight:500}
.table tfoot,
.table tfoot th{background:#F6F6F6;font-weight:700}
.table .tfoot{background:#FCFCFC;font-weight:500}
.table thead th.last{border-left:1px solid #D9D9D9;}
.table th[colspan]{border-bottom:1px solid #D9D9D9;}
.table td:last-child,
.table th:last-child,
.table .last{border-right:none}
.table-sm td,
.table-sm th{padding:.3rem}
.table th.lf_line{border-right:1px solid #D9D9D9}
.table td.lf_line{border-right:1px solid #D9D9D9}
.table td.top_line{border-top:1px solid #D9D9D9}
.table td.lf_noline{border-right:none}

/* table-hover */
.table-hover tbody tr:hover{background-color:rgba(0,0,0,.035);transition:.5s;-webkit-transition:.5s}
.table-hover .table-primary,
.table-hover .table-primary:hover,
.table-hover .table-primary:hover>td,
.table-hover .table-primary:hover>th{background-color:#d5e9ff}
.table-hover .table-active:hover,
.table-hover .table-active:hover>td,
.table-hover .table-active:hover>th{background-color:rgba(0,0,0,.075)}

.table a{margin:0;color:#212529}

.text-left{text-align:left!important;}
.text-center{text-align:center!important;}
.text-right{text-align:right!important;}

/* input 추가버튼 */
.additem.input_row{align-items:flex-start;}
.additem.input_row .wrap{position:relative;display:flex;flex-direction:column;flex-grow:1}
.additem.input_row .bar_title{padding-top:8px;}
.additem.input_row .bar_title::after{top:20px;}

.additem .addbtn{position:absolute;top:4px;right:0;}
.additem .item{padding:3px 0;}

.additem .item,
.additem .item.box_period{display:flex;flex-direction:row;align-items:center;}
.additem .item.minus_item{padding-right:35px;}
.additem .item.minus_item2{padding-right:79px;}
.additem .box_period{width:100%;flex-grow:1;}
.additem .item.minus_item .minusbtn{margin-left:8px;}

.additem .item.col{display:flex;flex-direction:column;}
.additem .item.col .row{width:100%}
.additem .item.col.minus_item{position:relative;padding-right:80px;}
.additem .item.col.minus_item .minusbtn{position:absolute;right:35px;top:4px;}
.additem .item.col .row:last-child{margin-bottom:40px;}
.additem .item.col .row .input_row .bar_title{padding-right:10px;}

#calendar{width:50%;border:1px solid #ddd;padding:20px;}

/* calendar wrapper */
.date_ctrl{display:flex;justify-content:center;align-items:center;width:100%;margin-bottom:50px;}
.date_ctrl button{width:36px;height:36px;padding:0 7px;border-radius:100px;background-color:#999;}
.date_ctrl button .ico{display: block;width: 20px;height: 20px;background-size: 100% auto;background-repeat:no-repeat;}
.date_ctrl .prev i{transform: rotate(-180deg);}
.date_ctrl strong{display:inline-block;padding:0 10px;font-size:30px;font-weight:bold;line-height:1}

/* calendar 테이블 */
.calendar-table {height:100%;}
.calendar-table .table-condensed{border-top:1px solid #182869;border-bottom:1px solid #EFEFEF;height:100%;}
.calendar-table .table-condensed thead tr th{padding:12px 0;border:0;background:none;font-weight:bold;font-size:15px;line-height:1;}
.calendar-table .table-condensed td{position:relative;height:63px;border:1px solid #EFEFEF;vertical-align: top;color:#747EA5}
.calendar-table .table-condensed td.fc-sun{border:1px solid #FDDCDC;background:#FFF8F8;color:#F66D6D}
.calendar-table .table-condensed td.fc-sat{border:1px solid #E2E8FB;background:#F5F8FF;}
.calendar-table .table-condensed td.fc-none{border-color:#EFEFEF;background:none}
.calendar-table .table-condensed td .none,
.calendar-table .table-condensed td .day-num{display:block;height:auto;font-weight:bold;}

/* 컴포넌트 */
.input_row {display:flex;color:#848484;align-items:center;/*flex-grow:1;*/}
.input_row .bar_title{display:inline-block;min-width:120px;padding:0 10px 0 16px;}
.input_row .bar_title::after{content:"";display:block;position:absolute;left:0;top:10px;width:8px;height:2px;background:#2B2B2B;border-radius:10px;}
.input_row .bar_title b{position:relative;font-weight:normal}
.input_row .bar_title.auto{min-width:auto;}
.input_row .input_txt{padding:0 10px;line-height:36px;color:#747EA5}
.space{display:inline-block;padding:0 4px;line-height:40px;}

.box_period{display:flex;align-items:center;position:relative;color:#747EA5}
.box_period.calbox{width:auto;flex-grow:0;}
.box_period.grow0{flex-grow:0;}
input[type=date]::-webkit-datetime-edit-text {-webkit-appearance: none;display: none;} 
input[type=date]::-webkit-datetime-edit-month-field{-webkit-appearance: none;display: none;} 
input[type=date]::-webkit-datetime-edit-day-field {-webkit-appearance: none;display: none;} 
input[type=date]::-webkit-datetime-edit-year-field {-webkit-appearance: none;  display: none;}
input[type="date"]:valid{color:#c9c9c9;}
input[type="date"]{ position: relative;}
input[type="date"]::-webkit-calendar-picker-indicator {background: transparent;z-index: 1;}
.btn_calendar{position:absolute;top:50%;right:8px;z-index:2;margin-top:-10px;width:20px;height:20px;border:0;background:url(../images/common/ico_calendar.svg) no-repeat 0 0}

.expect_date{width:100%;}
.linebox{margin-bottom:50px;padding:40px 50px;margin-bottom:60px;border:1px solid #D9D9D9;border-radius:10px;background:#fff;}
.linebox.gray{background:#FCFCFC}
.linebox.sm{padding:3% 4%;border-radius:3px;}
.linebox.lg{padding:4%;border-radius:3px;}

@media screen and (max-width:1280px){
    .linebox.sm{padding:2% 3%;}
}



/* pagenate */
#pagenate{display:flex;justify-content:flex-end;}
.pagenatewrap{display:flex;justify-content:flex-end;}
.pagination{display:flex;align-items:center;margin:20px 0;}
.pagination > li,
.pagination .page-item{display:flex;}
.pagination > li > a{cursor:pointer}
.pagination li > a,
.pagination .page-item > .page-link,
.pagination .page-item > span{display:inline-block;position:relative;min-width:30px;height:30px;padding:0 11px;color:#666;text-align:center;line-height:30px;box-sizing:border-box}
.pagination .page-item > a{display:inline-block}
.pagination .page-item > a:hover,
.pagination .page-item > .page-link:hover,
.pagination .page-item > span:hover,
.pagination .page-item > .page-link:focus,
.pagination .page-item > a:focus,
.pagination .page-item > span:focus{border-color:#ddd;background-color:#eee;color:#23527c;}
.pagination .page-item.active > a,
.pagination .page-item.active > .page-link,
.pagination .page-item.active > span,
.pagination .page-item.active > a:hover,
.pagination .page-item.active > .page-link:hover,
.pagination .page-item.active > span:hover,
.pagination .page-item.active > a:focus,
.pagination .page-item.active > .page-link:focus,
.pagination .page-item.active > span:focus{z-index:2;border-color: #C2192E;background-color: #C2192E;color:#fff;cursor:default;}
.pagination li.first a,
.pagination li.previous a,
.pagination li.next a,
.pagination li.last a{font-size:0;}
.pagination li,
.pagination .page-link{font-size:0.8rem;}
.pagination .active a,
.pagination .active .page-link{border-radius:30px;transition:all 0.2s linear;-webkit-transition:all 0.2s linear;}
.pagination .active a:hover,
.pagination .active .page-link:hover{color:#fff;}
.pagination a,
.pagination .page-link{border:0;transition:all 0.3s linear;-webkit-transition:all 0.3s linear;}
.pagination a:hover,
.pagination .page-link:hover{background-color:#eee;transition:all 0.3s linear;-webkit-transition:all 0.3s linear;}
.pagination .bn{display:flex;}
.pagination .bn a{display:inline-block;width:30px;height:30px;background-position:50% 50%;clip: auto;background-repeat:no-repeat;}
.pagination .bn.first a{background-image:url(../images/common/ico_arr_fir_g.svg);}
.pagination .bn.previous a{background-image:url(../images/common/ico_arr_prev_g.svg);}
.pagination .bn.next a{background-image:url(../images/common/ico_arr_next_g.svg);}
.pagination .bn.last a{background-image:url(../images/common/ico_arr_end_g.svg);}
.pagination .bn.active.first a{background-image:url(../images/common/ico_arr_fir_b.svg)}
.pagination .bn.active.previous a{background-image:url(../images/common/ico_arr_prev_b.svg)}
.pagination .bn.active.next a{background-image:url(../images/common/ico_arr_next_b.svg);}
.pagination .bn.active.last a{background-image:url(../images/common/ico_arr_end_b.svg);}

.box_period input[type="file"] {position: absolute;width: 0;height: 0;padding: 0;overflow: hidden;border: 0;}
.box_period.addwrap{width:40%;flex-grow:0;}
.box_period.addwrap div{width:100%;}
.box_period.addwrap div .selectwrap{margin-bottom:10px;}
.box_period.addwrap div .linebox ul li{display:flex;justify-content:space-between;align-items:center;padding-bottom:10px;padding-top:10px;border-top:1px solid #E2E8FB}
.box_period.addwrap div .linebox ul li:first-child{padding-top:0;border:0;}

.input_radio {display:flex;flex-wrap:wrap;width:100%;}
.input_radio input[type=radio]{display:none;}
.input_radio input[type=radio]+label{flex-grow:1;display:inline-flex;align-items:center;justify-content:center;padding:5px 10px;cursor: pointer;margin-left:-1px;margin-top:-1px;text-align: center;font-size:15px; border:1px solid #D7D7D7;border-radius:4px;background-color: #fff;color: #1B1B1B;}
.input_radio input[type=radio]+label.inline{flex-grow:0}
.input_radio input[type=radio]:checked+label{color: #C2192E;background-color: #FDF6F7; border-color:#C2192E;z-index:1}
.input_radio input[type=radio]+label span{width:20px;height:17px;background:url(../images/common/ico_radio_on.svg) no-repeat;}
.input_radio input[type=radio]:checked+label span{background-image: url(../images/common/ico_radio_ov.svg);}
.input_radio input[type=radio]+label:nth-child(4){margin:0 4px;}

.input_check{display:flex;align-items:center;}
.input_check label{margin:0 40px 0 6px}

.linebox_bott{padding-bottom:50px;margin-bottom:60px;border-bottom:1px solid #E6E7EA;}
.linebox_bott.col2{display:flex;flex-wrap:wrap;justify-content:space-between;}
.linebox_bott.col2 .wrap{width:50%;}
.linebox_bott .input_row{margin-bottom:10px;}
.linebox_bott .input_row.inline_row,
.linebox_bott .input_row.inline_row input{flex-grow: 0;}
.linebox_bott .input_row{flex-grow:1}
.linebox_bott .input_row input.wide{flex-grow:1}
.linebox_bott .input_row .col{display:flex;flex-direction:column;width:100%}




.calwrap{display:flex;gap:5%;}
.calwrap #calendar{padding:40px 30px;width:38%}
.calwrap .wrap{width:62%;}
.calwrap .wrap h3{font-size:20px;}
.calwrap .wrap h3 span{margin-right:10px;padding:4px 12px;border:1px solid #777;border-radius:50px;font-size:15px}



@media screen and (max-width:1024px){
    .calwrap{flex-direction:column;gap:80px;}
    .calwrap #calendar,
    .calwrap .wrap{width:100%;}
}

@media screen and (max-width:768px){
    .input_row,
    .linebox_bott .input_row.inline_row input{flex-wrap: wrap;}
    .input_row .bar_title{min-width:100%;width:100%;margin-left:0!important;margin-bottom:4px;margin-top:8px;}
    .w100{width:100%;}
}



.holds-terms{margin-bottom:40px;}
.holds-terms .terms-content {padding:30px;margin-top:20px;width:100%;height:260px;overflow:hidden;overflow-y:auto;border: 1px solid #ddd;background-color:#fff;}
.holds-terms .h-group {display:inline-block;white-space:nowrap;}
.holds-terms .holds-cbox {width:20px;height:20px;margin:0 8px 0 0;border: 1px solid #ddd;}
.holds-terms .holds-cbox .label {width:auto;height:auto;font-size:14px;white-space:normal;}

.ui-box {margin-bottom:10px;padding:20px;background-color:#fafafa}
.uit3{position:relative;margin-bottom:80px;overflow:hidden}
.uit3 .inner_normal{position:relative;padding:4%;background:#fbfbfb;}
.uit3 strong{display:block;margin:0;margin-bottom:15px;color:#121212;font-size:24px;font-weight:600;}
.uit3 .txtwrap p{margin:0;color:#545454;font-size:14px;line-height:135%;font-weight:normal;}

.txt-tip {color:#da4453}

/* login */
.login .container .rcon{padding-bottom:80px;}
.loginwrap{display:flex;align-items:center;justify-content:space-between;gap:50px;padding:4%;border:10px solid #ddd;}
.loginwrap div{position:relative;padding-left:100px;}
.loginwrap h2{font-size:28px;font-family:'GmarketSansB';}
.loginwrap h2 span{color:#C2192E;font-family:'GmarketSansB';}
.loginwrap h2:before{content:"";display:block;position:absolute;left:0;top:0;width:68px;height:80px;margin-bottom:30px;background:url(../images/common/ico_login1.svg) no-repeat 50% 0 / 100% auto}
.loginwrap button{padding-left:64px;padding-right:64px;}

/* .loginwrap:hover{box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2), 0 6px 4px rgba(0, 0, 0, 0.2);}
.loginwrap:hover h2:before{animation:icomove 1s infinite linear;transition:all 0.5s;} */

@keyframes icomove{
    0%,100%{
        transform:translate(0,0);
    }
    50%{
        transform:translate(0,-5%);
    }
}

@media screen and (max-width:768px){
    .loginwrap h2{font-size:22px;}
}

@media screen and (max-width:640px){
    .loginwrap{flex-direction:column;padding:8% 4%;}
    .loginwrap div{padding-left:0;text-align:center;}
    .loginwrap h2{padding-top:100px;}
    .loginwrap h2:before{left:50%;margin-left:-34px;}
}