@charset "utf-8";
.page53{padding:20px;display:flex;flex-wrap: wrap;}
.page53 .input_row{display:inline-block;width:30%;padding:40px 50px ;margin:1.6%;border:1px solid #A5AECA;flex-grow: initial;}
.page53 .input_row .bar_title{width:100%;text-align:center;}
.page53 .input_row input{margin-top:10px;width:100%;text-align:center}

/* 159출퇵근부 */
.commutewrap{display:flex;gap:20px;}
.commutewrap .check{width:28%}
.commutewrap #calendar_commute{width:72%;padding:0;}

.commutewrap .check{padding:4% 0;background:#FCFCFC}
.commutewrap .check .btnwrap{padding:20px 0 60px;}
.commutewrap .check .btnwrap button{width:100%;justify-content:center;font-weight:bold}
.commutewrap .check .daywrap,
.commutewrap .check .holydaywrap{width:100%;padding:0 60px;}
.commutewrap .check .daywrap {text-align:center;}
.commutewrap .check .daywrap strong{display:inline-block;padding:8px 12px;font-family:'GmarketSansB';font-size:12px;border:1px solid #182869;border-radius:20px;line-height:1;}
.commutewrap .check .daywrap .day{display:block;padding-top:10px;text-align:center;font-size:24px;}
.commutewrap .check .daywrap  ul{padding:40px 0 0}
.commutewrap .check .daywrap  ul li {display:flex;justify-content:space-between;padding:8px 0;color:#747EA5}
.commutewrap .check .daywrap  ul li b{position:relative;display:inline-block;padding-left:30px;color:#0057FF}
.commutewrap .check .daywrap  ul li b:before{content:"";position:absolute;left:0;top:50%;display:block;width:22px;height:22px;margin-top:-11px;background:url(../images/common/ico_commute_in.svg)}
.commutewrap .check .daywrap  ul li:last-child b{color:#182869}
.commutewrap .check .daywrap  ul li:last-child b:before{background-image:url(../images/common/ico_commute_out.svg);}

.commutewrap .check .holydaywrap{padding-top:60px;border-top:1px solid #D9D9D9}
.commutewrap .check .holydaywrap strong{position:relative;display:inline-block;padding-left:30px;padding-bottom:10px;color:#182869}
.commutewrap .check .holydaywrap strong:before{content:"";position:absolute;left:0;top:50%;display:block;width:22px;height:22px;margin-top:-11px;background:url(../images/common/ico_holyday.svg)}
.commutewrap .check .holydaywrap .box_period{max-width:calc(100% - 52%)}
.commutewrap .check .holydaywrap .expect_date{width:100%;}
.commutewrap .calendar-table .table-condensed td {height:110px;}
.commutewrap .calendar-table .table-condensed td ul{overflow: visible;}
.commutewrap .calendar-table .table-condensed td ul.commute li{display:flex;justify-content:flex-start;align-items:center;gap:2px;padding:1px 0;color:#747EA5;}
.commutewrap .calendar-table .table-condensed td ul.commute li b{display:inline-block;padding:1px 4px;margin-right:4px;color:#0057FF;border:1px solid #0057FF;font-size:12px;}
.commutewrap .calendar-table .table-condensed td ul.commute li.out{color:#747EA5}
.commutewrap .calendar-table .table-condensed td ul.commute li.out b{color:#747EA5;border-color:#747EA5}

.commutewrap .calendar-table .table-condensed td.today {color:#fff;border:1px solid #5C88FD;background:#5C88FD}
.commutewrap .calendar-table .table-condensed td.today ul.commute li{color:#fff;}
.commutewrap .calendar-table .table-condensed td.today ul.commute li b,
.commutewrap .calendar-table .table-condensed td.today ul.commute li.out b,
.commutewrap .calendar-table .table-condensed td.today ul.commute li.out b{color:#fff;border-color:#fff;}

.commutewrap .calendar-table .table-condensed td.holyday {border:1px solid #FDDCDC;background:#FFF8F8}
.commutewrap .calendar-table .table-condensed td.holyday p{position:absolute;top:40px;color:#F66D6D}

@media screen and (max-width:1730px){
    .commutewrap{flex-direction:column;}
    .commutewrap .check{margin-bottom: 0;padding:2% 0 4%}
    .commutewrap .check .daywrap{padding:0 40px 0 400px;}
    .commutewrap .check .daywrap ul{padding: 15px 0 0;}
    .commutewrap .check .btnwrap{padding-bottom: 0;}
    .commutewrap .check{display:flex;position:relative;width:100%;}
    .commutewrap .check .daywrap strong{position:absolute;left:120px;top:80px;}
    .commutewrap .check .daywrap .day{position:absolute;left:80px;top:120px;}
    .commutewrap .check .holydaywrap{width:340px;padding:20px 40px 0 40px;border-left:1px solid #D9D9D9;border-top:0;}
    .commutewrap #calendar_commute{width:100%;}
}



/* 공지사항 작성 */
.writewrap .wraptop{width:100%;border-top:1px solid #182869 }
.writewrap .wraptop .input_row{width:100%;padding:20px 0;border-bottom:1px solid #D9D9D9;}
.writewrap .wraptop .input_row .bar_title{width:120px;padding-right:20px;}
.writewrap .wraptop .input_row.wide {justify-content:space-between;align-items:center;}
.writewrap .wraptop .input_row.wide a{color:#747EA5;margin-right:4px;}
.writewrap .wrapmid {padding:20px 0 10px;border-bottom:1px solid #D9D9D9;}
.writewrap .btnwrap{padding-top:50px;}


/* 레이어팝업 */
.wrapper.open #lnb{position:relative;z-index:0;}
.wrapper.open .container{display:block;}
.wrapper.open .container-fixed .lnb_wrap{position: relative;z-index:0}

#mask {display:none; position:fixed;left:0;top:0;z-index:9000;background-color:rgba(0, 0,0, .8);}
#mask .wrap{display:flex;align-items:center;justify-content:center;width:100%;height:100vh;}
#mask .window{position:relative;width:400px;height:300px;border-radius:10px;opacity:1;overflow:hidden;}

#mask .window.bg_gray .pop_body{background:#F6F6F6}
#mask .titrap{padding:20px 30px 20px 40px;background-color:#182869;}
#mask .titrap h3{color:#fff}
#mask .pop_body{padding:40px;background:#fff;border-bottom-left-radius:10px;border-bottom-right-radius:10px}

#mask .form{display:flex;align-items:center;width:100%;padding:0 0 10px;}
#mask .form .input_row{width:100%;margin-bottom:4px;align-items:center;}
#mask .form .input_row .bar_title{padding-left:10px;}

#mask .form.row{gap:4px;}
#mask .form.row .input_row.auto{width:auto;}
#mask .form.row .input_row .bar_title{padding-right:10px;min-width:max-content;font-weight:bold}
#mask .form.row .btnwrap{width:auto;padding:0;}
#mask .form.col{flex-direction:column;align-items:flex-start;padding:0;}
#mask .form.col .input_row .bar_title{min-width:64px;text-align:left;}
#mask .form .box_period.filewrap ,
#mask .form .box_period.filewrap .wide{width:100%;max-width:100%;gap:4px;}

#mask .form.col .row{display:flex;flex-direction:row;gap:10px;width:100%;}
#mask .form .row .input_row{width:calc(50% - 5px);justify-content: space-between;}

#mask .box{padding:30px;background:#fff;border-radius:10px;;}
#mask .grap{height:282px;overflow:auto;}
#mask .bn_close{position:absolute;right:30px;top:20px;width:30px;height:30px;background:url(../images/common/ico_close_w.svg) no-repeat 50% 50%;}
#mask .btnwrap{padding-top:20px;width:100%;align-items:center;}

#mask .window.p26{width:1000px;height:auto;}
#mask .window.p29{width:1000px;height:auto;}
#mask .window.p29 .tab-nav{justify-content:center;margin-bottom:20px;}
#mask .window.p29 .box{height:400px;}
#mask .window.p33 .form.col .input_row .bar_title{width:91px;}
#mask .window.p34{width:540px;height:auto;}
#mask .window.p45,
#mask .window.p47{width:640px;height:auto;}
#mask .window.p47 .grap{height:100px}
#mask .window.p47 .box{margin-top:60px;padding:20px 10px;border-radius:0;border:1px solid #ccc;background:#FCFCFC}
#mask .window.p47 .box .grap{height:120px;}
#mask .window.p47 .box table thead{display:none;}

#mask .window.p48{width:800px;height:auto;}
#mask .window.p48 .form.col .input_row .bar_title{width:100px;padding:0 10px 0 0;text-align:right;}
#mask .window.p48 .wide .box_input{width:calc(100% - 100px)}
#mask .window.p48 .wide2 .box_input{width:calc(100% - 130px)}
#mask .window.p48 .wide2 .endtx{display:inline-block;width:30px;text-align:right;}
#mask .window.p51{width:1000px;height:auto;}
#mask .window.p51 .grap{height:390px;}
#mask .window.p56{width:800px;height:auto;}

#mask .window.p85{width:450px;height:auto;}
#mask .window.p85 .form.col .input_row .bar_title{min-width:80px;padding-left:0;}
#mask .window.p169{width:800px;height:auto;}
#mask .window .form.col{gap:5px;}
#mask .window.p169 .form.col .input_row .bar_title{padding-left:0;text-align:right;}
#mask .window.p169 .box_period{padding:0;}
#mask .window.p169 .input_row .checklabel{color:#747EA5}

#mask .window.p127{width:1400px;height:auto;}
#mask .window.p127 .pop_body{display:flex;width:100%;;padding:0;}
#mask .window.p127 .pop_body .lcon{width:72%;padding:40px;}
#mask .window.p127 .pop_body .lcon .titwrap {display:flex;justify-content:space-between;align-items:center;width:100%;padding-bottom:10px;}
#mask .window.p127 .pop_body .lcon .titwrap h4{padding:0 0 10px;color:#0F2248;font-weight:bold;}
#mask .window.p127 .pop_body .lcon .titwrap .inputwrap{display:inline-block;color:#747EA5}
#mask .window.p127 .pop_body .lcon .box{padding:30px 40px;background:#fff;}
#mask .window.p127 .pop_body .lcon .grap{height:492px;}
#mask .window.p127 .pop_body .lcon select{margin-bottom:2px;}
#mask .window.p127 .pop_body .rcon{width:28%;padding:40px;background:#fff;}
#mask .window.p127 .pop_body .rcon .boxinfo{border: 1px solid #E2E2E2;}
#mask .window.p127 .pop_body .rcon .boxinfo strong{display:block;padding:20px 30px;color:#0F2248;font-size:20px;font-weight:bold;border-bottom: 1px solid #E2E2E2;}
#mask .window.p127 .pop_body .rcon .boxinfo strong b{display:block;font-size:15px;font-weight:normal}
#mask .window.p127 .pop_body .rcon .boxinfo .info{padding:30px 20px;}
#mask .window.p127 .pop_body .rcon .info_bott{padding:30px 0 10px}
#mask .window.p127 .pop_body .rcon .info_bott li{display:block;}
#mask .window.p127 .pop_body .rcon .info_bott li b,
#mask .window.p127 .pop_body .rcon .info_bott li span{display:block;width:100%;text-align:right;}
#mask .window.p127 .pop_body .rcon .inputwrap .input_row {display:flex;justify-content:flex-end;width:100%;}
#mask .window.p127 .pop_body .rcon .inputwrap .input_row .bar_title{min-width:100px;color:#AFAFAF}
#mask .window.p127 .pop_body .rcon .inputwrap .input_row .box_period.filewrap{width:150px;}
#mask .window.p127 .pop_body .rcon .inputwrap .input_row .box_period .box_input{width:100%;margin-right:5px;}
#mask .window.p127 .pop_body .rcon .btnwrap button{flex-basis:100%;}

#mask .window.p26 .layerwrite{position:absolute;width:860px;padding:50px 60px;background:#fff;border:8px solid #747EA5;z-index:999;}
#mask .window.p26 .layerwrite .box_period.filewrap{width:calc(100% - 75px);}
#mask .window.p26 .layerwrite .input_row{width:calc(100% - -30px);align-items:center;padding:4px 0}
#mask .window.p26 .layerwrite .input_row.auto{width:auto;}
#mask .window.p26 .layerwrite .input_row .bar_title{width:70px;padding-top:0;}
#mask .window.p26 .layerwrite .input_row .w100p{width:calc(100% - 100px);}
#mask .window.p26 .layerwrite .col{display:flex;justify-content:space-between;}
#mask .window.p26 .layerwrite .bn_close_gray{position:absolute;right:20px;top:20px;}
#mask .window.p26 .layerwrite .btnwrap{padding-top:40px;}

#mask .window .bn_close_gray{position:absolute;right:10px;top:10px;width:24px;height:24px;background:url(../images/common/ico_close_g.svg) no-repeat 50% 50%/cover;}

.info{display:block;}
.info li{display:flex;width:100%;padding:2px 0;gap:20px;color:#747EA5}
.info li b{width:60px;text-align:right;color:#182869}
.info li p{display:inline-block;}
.inputwrap{display:flex;flex-direction:column;align-items:flex-end;}

.depth1 li{padding:30px 20px;border-top: 1px solid #D9D9D9;color:#182869}
.depth2 li{position:relative;padding:10px 30px 0 60px;border:0;color:#757575}
.depth2 li:before{content:"";position:absolute;left:0;top:0;display:block;width:56px;height:24px;border:1px solid #cacaca;border-width:0 0 1px 1px;}



/* view */
.view.linebox{padding:0;}
.view.linebox.padd{padding:50px 4%;}
.view .btnwrap{padding:3% 4% 2%;}
.view .btnwrap.top{justify-content:flex-end;border-bottom:1px solid #E2E8FB}
.view .btnwrap.bott{padding:3% 4%;border-top:1px solid #E2E8FB}
.view .mid{padding:4%;}
.view .mid .mid_top{display:flex;justify-content:space-between;align-items:center;padding-bottom:4%;}
.view .mid .mid_top .contit{font-size:46px;color:#0F2248;font-weight:bold}
.view .mid .mid_content{border:1px solid #D9D9D9;background:#FCFCFC}
.view .colwrap {margin-left:4%;margin-right:4%;width:calc(100% - 8%)}
.view .colwrap.col2 {display:flex;}
.view .colwrap.col2 h4{width:20%;padding-top:10px;}
.view .colwrap.con_top{width:calc(100%);margin:0;padding:2% 4%;background:#fff;}
.view .input_row {padding:8px 0;color:#747EA5}
.view .input_row .bar_title{padding-top:0;}
.view .colwrap.col2 table{width:calc(100% - 20%)}


/* mid 컬럼2일때 */
.view .mid_wrap_col2{display:flex;}
.view .mid_wrap_col2 .mid{width:50%;}
.view .mid_wrap_col2 .mid:first-child{border-right:1px solid #E2E8FB;}
.view .mid_wrap_col2 .mid_top{flex-direction:column;align-items:flex-end;padding-bottom:60px;}
.view .mid_wrap_col2 .mid_top .contit{width:100%;padding-bottom:30px;}

.view .mid_wrap_col2 .mid .mid_content .colwrap{margin-left:8%;margin-right:8%;width:calc(100% - 16%)}


.view .mid_wrap_col2 .mid .mid_content .colwrap.con_top{width:100%;margin:0;padding:5% 8% 4%;}
.view .mid_wrap_col2 .mid .mid_content .colwrap .col2 li{width:50%;}
.view .mid_wrap_col2 .mid .mid_content .colwrap .col2 li.wide{width:100%;}
.view .mid .sc_group{padding:10px 0;border-top:1px solid #D9D9D9;}
.view .mid .sc_group:after{content:"";display:block;clear:both}
.view .mid .sc_group li.wide{width:100%;}
.view .mid .sc_group li{float:left;width:50%;}
.view .mid .sc_group li b{color:#182869}

.view .mid_wrap_col2 .mid .box_input{display:flex;flex-grow:1;}
.view .mid_wrap_col2 .mid .mid_content .colwrap .additem .addbtn{top:4px;}

.view .mid_wrap_col2 .mid .mid_content .linebox{width:100%;height:170px;overflow:auto;background:#fff;}

@media screen and (max-width:1400px){
    .view .colwrap.col2{flex-direction: column;}
    .view .colwrap.col2 h4 span{display: inline;}
    .view .colwrap.col2 h4,
    .view .mid .colwrap.col2 .rcon,
    .view .mid .colwrap.col2 .table{width:100%;}
    .view .mid .colwrap.col2 .table{margin: top 2G 493px;}
    .view .mid_wrap_col2 .mid .mid_content .colwrap .col2 li{width:46%}
    .view .mid .mid_top .contit{font-size:30px;line-height:1.3;}
}


/* mid_contnet 제일상단 영역 col 기본형 */
.view .colwrap.con_top.col2 .input_row{width:50%;}
.view .colwrap.con_top.col2 .info_w_auto{width:auto;flex-grow:0}
.view .colwrap.con_top.col2 .input_row .bar_title{min-width:auto;padding-top:0;}

/* mid_contnet 제일상단 영역 박스형 */
.view .colwrap.col1box{display:flex;flex-direction:column;gap:10px;width:calc(100%);margin:0;padding:4%;}
.view .colwrap.col1box .rcon{display:flex;flex-direction:row;gap:1.5%;width:100%;}
.view .colwrap.col1box .rcon.box li{display:flex;flex-direction:column;flex-basis:25%;gap:8px;padding:2%;border:1px solid #D9D9D9;}
.view .colwrap.col1box .rcon.box li:last-child{flex-basis:50%;}
.view .colwrap.col1box .rcon.box li b{font-weight:bold;}
.view .colwrap.col1box .rcon.box li b,
.view .colwrap.col1box .rcon.box li span{display:block;width:100%;text-align:center;}
.view .colwrap.col1box .rcon.box li.text-left b,
.view .colwrap.col1box .rcon.box li.text-left span{text-align:left;}

/* mid_contnet r_con  영역구분 */
.view .row{display:flex;flex-direction:row;align-items:center;}
.view .col{display:flex;flex-direction:column;}
.view .col2{display:flex;flex-wrap:wrap;}
.view .col2 li{width:50%;}
.view .col2 li.wide{width:100%;}


.con136 .view .additem .item.col .row{gap:10px;}
.con136 .view .additem .item.col .row .input_row .bar_title{width:154px;line-height:1.3;}
.con136 .view .additem .item.col .row .w100p{width:calc(100% - 154px)}
.con136 .view .additem .item.col .row .input_row:last-child{flex-grow:0;} 
.con136 .view .additem .item.col .row strong{display:inline-block;width:154px;padding-right:10px;color: #182869;text-align:right;}
.con136 .view .additem .item.col .row.tit_row{width:100%;}
.con136 .view .additem .item.col .row.tit_row .input_row .bar_title{width:37px;min-width:auto;color:#747EA5}
.con136 .view .additem .item.col .row.tit_row .input_row .box_input{width:calc(100% - 37px);}

.con143 .view .additem .item.col .row{gap:10px;}
.con143 .view .additem .item.col .row .input_row .bar_title{width:84px;line-height:1.3;}
.con143 .view .additem .item.col .row .w100p{width:calc(100% - 84px)}
.con143 .view .additem .item.col .row .input_row:last-child{flex-grow:0;} 

.con158 .view .additem .item.col .row .input_row:first-child .bar_title{width:130px;}
.con158 .view .additem .item.col .row .input_row:first-child .w100p{width:calc(100% - 130px)}

.radiowrap{display:flex;align-items:center;width:calc(100% - 98px);}

.con129 .view .additem .item .input_row:nth-child(2){margin-left:20px;}

@media screen and (max-width:1720px){
    .con79 .view .additem .item, 
    .con79 .view .additem .item.box_period{flex-wrap:wrap;margin-bottom:30px;} 
    .con79 .view .additem .item.minus_item{padding-right:81px}
    .con136 .view .additem .item.col .row.tit_row strong,
    .con136 .view .additem .item.col .row .input_row .bar_title{width:81px;line-height:1.3}
    .con136 .view .additem .item.col .row .w100p{width:calc(100% - 81px)}

}
@media screen and (max-width:1600px){ 
    .con129 .view .additem .item, 
    .con129 .view .additem .item.box_period{flex-wrap:wrap;margin-bottom:30px;} 
    .con129 .view .additem .item.minus_item{padding-right:81px}
    .con129 .view .additem .item .input_row:nth-child(2){margin-left:0;}
    .con129 .view .additem .item .input_row:nth-child(3){flex-grow:0;}

    .con158 .view .additem .item.col .row .input_row:first-child .bar_title{width:70px;line-height:1.3;}
    .con158 .view .additem .item.col .row .input_row:first-child .w100p{width:calc(100% - 70px)}
}


@media screen and (max-width:1430px){ 
    /* .con136 .view .additem .item.col .row strong,
    .con136 .view .additem .item.col .row .input_row .bar_title{width:81px;}
    .con136 .view .additem .item.col .row .w100p{width:calc(100% - 81px)}
    .con136 .view .additem .item.col .row{flex-wrap:wrap;} */
    /* .info136_num,
    .info136_text{flex-direction:column;} */
}


/* flex 정렬 */
.f_align_a_top{align-items:flex-start!important;}
.f_align_a_mid{align-items:center!important;}
.f_align_a_bott{align-items:flex-end!important;}

.f_align_j_start{justify-content:flex-start!important;}
.f_align_j_center{justify-content:center!important;}
.f_align_j_end{justify-content:flex-end!important;}
.f_align_j_wide{justify-content:space-between!important;}

/* info .bar_tit width auto */
.view .info_w_auto li b,
.view .info_w_auto .bar_title{width:auto!important;min-width:auto!important;padding-right:10px;}
.view .info_w_auto li {padding:4px 0}
/* 기본 info .bar_tit 고정 width */
.info_w100{width:100px!important;color:#182869}
.info_w60{width:60px;text-align:left;}
.info_w90{width:90px!important;}
.info_w120{width:120px!important;}
.info_w130{width:130px!important;}
.info_w140{width:140px!important;}
.info_w200{width:200px!important;}
.all_w100p{width:100%!important;max-width:100%;}

.w100_w100p{width:calc(100% - 100px)}
.w130_w100p{width:calc(100% - 130px);max-width:100%;}
.w140_w100p{width:calc(100% - 140px)}
.w140_w100p{width:calc(100% - 140px)}

.view.w140info .input_row .filewrap{width:calc(100% - 140px)}
.view.w140info .input_row .bar_title{width:140px}
.view.w140info .input_form .w100p{width:calc(100% - 140px);}

.view .rcon.input_form {margin-top:0;}
.view .input_row,
.view .info_bott .input_row{padding:0 0 8px;align-items:center;flex-grow:1;}


.view .input_row .bar_title{width:102px;padding-top:0;padding-right:20px;color:#182869;}
.view .input_row .bar_title.sm{color: #747EA5;}

.view .input_row .filewrap{width:calc(100% - 98px);max-width:100%;}
.view .input_form .w100p{width:calc(100% - 100px)}
.view .input_form.info_w_auto .w100p{width:calc(100% - 60px)}


.gap10{gap:10px;}
.gap20{gap:20px;}

.padd{padding:5%}
.padd_h{padding:0 5%}
.padd_v{padding:5% 0}
.padd_v_t{padding-top:4%;}

.view .colwrap .boxul{display:flex;gap:20px;}
.view .colwrap .boxul li{display:flex;flex-direction:column;gap:10px;}
.view .colwrap .boxul li ul li{flex-direction:row;}
.view .colwrap .boxul li ul li b{width:70px;text-align:left;}
.view .colwrap .boxul li ul li span{width:100%;}


.view .rcon{margin-top:10px;}
.view .rcon.row{display:flex;align-items:center;}

.view .mid .infobox{padding:25px;border:1px solid #D9D9D9;}
.view .mid .info {width:100%;}
/* .view .mid .rcon.info,
.view .mid .rcon.info_w_auto {width:100%;} */
.view .mid .rcon{width:calc(100% - 20%);color:#747EA5}
.view .mid .rcon li{display:flex;width:100%;}
.view .mid .rcon b{width:80px;color:#182869}
.view .mid .rcon .tit{width:100%;font-weight:bold;color:#182869}
.view .mid .rcon.info b{text-align:left}
/* .view .mid .rcon .bar_title{color:#747EA5} */


.view .mid .mid_content .col1box .input_row span{line-height:2.2}

.view .mid .bott_line{border-bottom: 1px solid #D9D9D9;}
.view .flex_c {display:flex;justify-content:center;}

.view .mid p,
.view .mid table td{color:#747EA5}
.view .mid table tbody th,
.view .mid table tfoot th{border-right:0;border-top:0;color:#182869}

.view .mid .info_bott{padding:8% 0;}
.view .mid .info_bott li{display:flex;justify-content:flex-end;gap:10px;padding:5px 0;color:#747EA5}
.view .mid .info_bott li b{color:#0F2248}

.view .mid .table th[colspan]{border-bottom:0;}

.view .mid .tabwrap .tab-nav{justify-content:flex-end;gap:4px;}
.view .mid .tabwrap .tab-nav_link{border:1px solid #747EA5;border-radius:4px;}
.view .mid .tabwrap .tab-nav_link.active,
.view .mid .tabwrap .tab-nav_link:nth-of-type(1).active{border:1px solid #0057FF;background:#0057FF}
.view .mid .tabwrap .tab-nav_link span{width:30px;height:30px;line-height:30px;padding:0;text-align:center;font-size:14px;}


@media screen and (max-width:1720px){
    .view .colwrap .boxul{display:block;}
    .view .mid .infobox{display:flex;flex-wrap:wrap;margin-bottom:20px;}
    .view .mid .infobox li{width:50%;}
}



.con108.view .mid .mid_content .col1box{position:relative;padding-bottom:80px;}
.con108.view .mid .tabwrap .tab-nav {position:absolute;right:4%;bottom:30px;}

.sign{font-size:13px;color:#747EA5}
.sign .btnwrap{padding:0 0 16px;justify-content:flex-end;}
.sign .sign_item {display:flex;gap:10px;}
.sign .sign_item .item{display:inline-flex;border:1px solid #E2E8FB}
.sign .sign_item .item .tit{display:flex;flex-direction:column;justify-content:center;width:30px;padding:10px;height:130px;font-size:15px;line-height:1.3}
.sign .sign_item .item .r_con{display:flex;flex-direction:column;width:100%;border-left:1px solid #E2E8FB}
.sign .sign_item .item .r_con span{display:block;width:100%;min-width:90px;padding:4px;text-align:center;font-size:13px;}
.sign .sign_item .item .r_con .sign{height:76px;border-top:1px solid #E2E8FB;border-bottom:1px solid #E2E8FB}


@media screen and (max-width:1769px){
    .sign{position:relative;padding-bottom: 122px;}
    .sign .sign_item{position:absolute;transform: scale(0.8);right:-56px}
}

@media screen and (max-width:1473px){
    .sign{padding-bottom: 113px;}
    .sign .sign_item{transform: scale(0.67);right: -95px;}
}


/* 감리일지 */
.mid_day .linebox{display:flex;justify-content:space-between;margin-bottom:20px;color:#747EA5}
.mid_day .linebox .daynum{width:15%;padding:10px 0;color:#747EA5;font-weight:bold}
.mid_day .linebox .c_con{width:calc(100% - 35%);padding-right:30px;border-right:1px solid #D9D9D9;}
.mid_day .linebox .list-1st{margin-left:10px;}
.mid_day .linebox li{color:#747EA5}
.mid_day .linebox p{margin-left:20px;}
.mid_day .linebox .r_con{width:20%;padding-left:30px}
.mid_day .linebox .tit{display:inline-block;margin-bottom:10px;padding:8px 20px;border:1px solid #D9D9D9;border-radius:100px; color:#182869}


/* 공정보고 */
.report .linebox{width:50%;padding:3% 4% 5%;border-radius:0;}
.report .linebox:first-child{border-right:0;}
.report .linebox .tit{display:flex;flex-direction:column;justify-content:center;text-align:center;padding:16px 10px 20px;border-bottom:1px solid #747EA5}
.report .linebox .tit b{font-weight:bold;font-size:18px;color:#182869}
.report .linebox .tit .date{position:relative;display:inline-block;padding-left:30px;margin:0 auto;font-size:14px;color:#747EA5}
.report .linebox .tit .date:before{content:"";position:absolute;top:50%;left:0;z-index:2;margin-top:-10px;width:20px;height:20px;border:0;background:url(../images/common/ico_calendar.svg) no-repeat 0 0}
.report .linebox dl dt{padding:12px 10px 12px 16px;margin-bottom:10px;border-bottom:1px solid #E2E2E2}
.report .linebox dl dd{display:flex;align-items:center;padding:0 10px 6px 16px;color:#747EA5}
.report .linebox .input_row{margin-top:20px;}
.report .linebox .input_row .box_input{width:calc(100% - 40px);margin-right:4px;}
.report .linebox .input_row .btn.icobn{padding:0 1px}


/* 81 작업일지 */
.dailywrap {display:flex;flex-direction: column;gap:100px}
.dailywrap .fwrap{display:flex}
.dailywrap .con .tit{display:block;width:100%;padding-bottom:10px;font-weight:bold;text-align:center;color:#182869;letter-spacing:3px;border-bottom:1px solid #747EA5}
.dailywrap .con .table,
.dailywrap .con .table td{border:0}
.dailywrap .con .table thead tr th {border-top:0;border-bottom: 1px solid #D9D9D9;}
.dailywrap .con .table tfoot {background:none}


.dailywrap .daily_top{display:flex;gap:40px;}
.dailywrap .daily_mid{display:flex;gap:40px;}

.dailywrap .daily_top .con:nth-of-type(1){width:50%}
.dailywrap .daily_top .con:nth-of-type(2){width:20%}
.dailywrap .daily_top .con:nth-of-type(3){width:30%}

.dailywrap .daily_mid .con{width:50%;}
.view .dailywrap .daily_mid .additem .item{padding-right:50px;}

.dailywrap .table .depth2{padding:5px 0}
.dailywrap .table .depth2 .title{position:relative;padding-left:60px;}
.dailywrap .table .depth2 .title:before{content:"";position:absolute;left:20px;top:0;display:block;width:35px;height:24px;border:1px solid #cacaca;border-width:0 0 1px 1px;}
.dailywrap .table .depth2 .title.btn{margin-left:5px;}
.dailywrap .table .depth2 .table tr:last-child td{padding-bottom:20px;border-bottom:1px solid #E2E2E2}
.dailywrap .table .depth2 .table td{padding:5px 0}


.table .depth2 {padding:0;border-top:0;background:#F6F6F6}
.table .depth2 .title{position:relative;padding-left:50%;}
.table .depth2 .title:before{content:"";position:absolute;left:30px;top:-10px;display:block;width:35%;height:22px;border:1px solid #cacaca;border-width:0 0 1px 1px;}
.table .depth2 .table{border-bottom:0;margin-bottom:0;}

@media screen and (max-width:1720px){
    .dailywrap .daily_top{flex-wrap: wrap;}
    .dailywrap .daily_top .con:nth-of-type(1){width:100%;}
    .dailywrap .daily_top .con:nth-of-type(2){width:40%;}
    .dailywrap .daily_top .con:nth-of-type(3){width:56%;}
}


/* 41공정상세내역서 */
.con41 .table button{width:28px;height:28px;padding:0 4px;margin-right:10px;justify-content: center;border:2px solid #E2E8FB}
.con41 .table button .ico.bi-arr{width:8px;height:11px;background-image:url(../images/main/ico_arr_b.svg);transform:rotate(-90deg);}
.con41 .table button.openbn{background:#0057FF;border-color:#0057FF}
.con41 .table button.openbn .ico.bi-arr{background-image:url(../images/main/ico_arr_w.svg);transform:rotate(90deg);}
.con41 .dataTable .depth2:before{display:none;}

@media screen and (max-width:1800px){
    .con41 .table td, 
    .con41 .table th{font-size:12px;}
    .con41 .table td table td{padding:8px 4px;}
}

#calendar_txt.borderbox{padding:4%}
#calendar_txt.borderbox #caltab{padding:0;height:auto;}



/* 설계검토 */
.con84{display:flex;gap:50px}
.con84 .con{display:flex;flex-direction:column;gap:20px;width:50%;}
.con84 .linebox{margin-bottom:0;padding:50px;}

.con84 .tabwrap{position:relative}
.con84 .tabwrap:before{content:"";display:block;position:absolute;left:0;top:49px;width:100%;height:1px;background:#182869}
.con84 .tabwrap .tab-nav_link{border-color:#D9D9D9;border-bottom:1px solid #182869}
.con84 .tabwrap .tab-nav,
.con84 .tabwrap .tab-nav_link:first-child{border-radius:0;}
.con84 .tabwrap .tab-nav_link span{padding:12px 20px;}
.con84 .tabwrap .tab-nav_link.active {border:1px solid #182869;}
.con84 .tabwrap .tab-nav_link.active span{color:#182869;background:none}

.con84 .con_l .wrap{height:280px;overflow:auto;}
.con84 .con_l .list li{padding:15px 12px;border-bottom:1px solid #D9D9D9;color:#747EA5}
.con84 .con_l .list li b{display:inline-block;width:100px;}
.con84 .con_l .con_l_top{position:relative;}
.con84 .con_l .addbtn{position:absolute;right:50px;top:50px;}

.con84 .con_l .con_l_bott{position:relative;}
.con84 .con_l .con_l_bott h3{width:100%;padding:0 0 20px;border-bottom:1px solid #182869;color:#0F2248;font-weight:bold}
.con84 .con_l .con_l_bott .addbtn{right:40px;color:#0057FF;}
.con84 .con_l .con_l_bott .wrap{height:397px;overflow:auto;color:#747EA5}

.ul_depth1 .lcon b{padding-right:10px;font-weight:bold;color:#182869}
.ul_depth2 .lcon b,
.ul_depth3 b{font-weight:normal;}

.ul_depth1 .lcon button{width:28px;height:28px;padding:0 4px;margin-right:10px;justify-content: center;border:2px solid #E2E8FB;background:#fff;}
.ul_depth1 .lcon button .ico.bi-arr{width:8px;height:11px;background-image:url(../images/main/ico_arr_b.svg);transform:rotate(-90deg);}

.ul_depth1 .open .lcon button.openbn{background:#0057FF;border-color:#0057FF}
.ul_depth1 .open .lcon button.openbn .ico.bi-arr{background-image:url(../images/main/ico_arr_w.svg);transform:rotate(90deg);}

.ul_depth1 .group{display:flex;justify-content:space-between;align-items:center;padding:10px;border-bottom:1px solid #D9D9D9}
.ul_depth2 .group{position:relative;padding-left:70px;background:#FCFCFC}
.ul_depth2 .group::before{content:"";position:absolute;left:30px;top:4px;display:block;width:40px;height:24px;border:1px solid #cacaca;border-width:0 0 1px 1px;}
.ul_depth3 .group{padding-left:142px;background:#F6F6F6}
.ul_depth3 .group::before{left:100px;width:35px;height:24px;}



.con84 .con_r .wrap{display:flex;flex-direction:column;gap:20px;height:443px;overflow:auto;}
.con84 .con_r .imgwrap{text-align:center;}
.con84 .con_r .imgwrap img{width:auto;height:462px;}
.con84 .row{display:flex;align-items:center;justify-content:space-between;}
.con84 .input_row{width:100%;align-items:center;padding:4px 0;}
.con84 .input_row .bar_title{min-width:80px;padding-top:0;}
.con84 .input_row textarea.boxarea{height:100px;}
.con84 .input_row .box_input{width:calc(100% - 80px);}

@media screen and (max-width:1500px){
    .con84{flex-direction:column;gap:20px;}
    .con84 .con{flex-direction:row;width:100%}
    .con84 .con.con_l{flex-direction:column;}
    .con84 .con_l .con_l_top,
    .con84 .con_l .con_l_bott{width:100%}
    .con84 .con_r .imgwrap{width:40%;}
    .con84 .con_r .imgwrap img{width:100%;height:auto}
    .con84 .con_r .wrap{width:60%;height:353px}
    .con84 .linebox{padding:4% 3%}
    .con84 .con_l .addbtn{top:44px;right:3%}
}


#mask.con86 {display:block;width:100%;}
#mask.con86 .wrap{position:relative;display:flex;flex-direction:column;align-items:flex-start;justify-content:flex-start;width:100%;height:100vh;}
#mask.con86 .bn_close{right:30px;top:30px;}

#mask.con86 .topwrap{display:flex;justify-content:center;width:100%;padding:20px 40px;background-color:#182869;}
#mask.con86 .topwrap .tool{display:flex;}
#mask.con86 .topwrap .tool button{display:flex;justify-content:center;align-items:center;width:47px;height:47px;padding:0;border-radius:10px;border:1px solid rgba(255, 255, 255, 0.3);background:none}
#mask.con86 .topwrap .tool button.on{background:#fff}
#mask.con86 .topwrap .tool .bnlinewrap{position:relative;display:flex;gap:8px;padding:0 20px;margin-left:20px;}
#mask.con86 .topwrap .tool .bnlinewrap:after{content:"";display:block;position:absolute;left:0;top:50%;width:1px;height:27px;margin-top:-13px;background:#A9C7FF;}

#mask.con86 .topwrap .tool button.bn_point .ico{width:34px;height:26px;background:url(../images/content/ico_point_w.svg)}
#mask.con86 .topwrap .tool button.bn_area_square .ico{width:26px;height:23px;background:url(../images/content/ico_square_w.svg)}
#mask.con86 .topwrap .tool button.bn_area_circle .ico{width:25px;height:25px;background:url(../images/content/ico_circle_w.svg)}

#mask.con86 .topwrap .tool button.bn_point.on .ico{width:34px;height:26px;background:url(../images/content/ico_point_b.svg)}
#mask.con86 .topwrap .tool button.bn_area_square.on .ico{width:26px;height:23px;background:url(../images/content/ico_square_b.svg)}
#mask.con86 .topwrap .tool button.bn_area_circle.on .ico{width:25px;height:25px;background:url(../images/content/ico_circle_b.svg)}


#mask.con86 .topwrap .viewsize{position:absolute;right:120px;top:28px;display:flex;align-items:center;justify-content:space-between;width:220px;}
#mask.con86 .topwrap .viewsize::before{content:"";display:block;position:absolute;left:0;top:50%;width:100%;height:1px;background:#A5AECA;z-index:0;}
#mask.con86 .topwrap .viewsize .sizetext{display:inline-block;width:80px;padding:10px 20px;color:#747EA5;font-weight:bold;background:#fff;border-radius:100px;font-size:15px;line-height:1;}
#mask.con86 .topwrap .viewsize button{position:relative;width:36px;height:36px;border-radius:100px;background:#A5AECA}
#mask.con86 .topwrap .viewsize button.bn_size_plus .ico{width:20px;height:20px;background:url(../images/common/ico_plus_w.svg) no-repeat 50% 50%;}
#mask.con86 .topwrap .viewsize button.bn_size_minus .ico{width:20px;height:1.4px;background:#fff;}


#mask.con86 .titrap{color:#fff}
#mask.con86 .pop_body{position:relative;display:flex;justify-content:space-between;width:100%;padding:0;}

#mask.con86 .pop_body .ctrl{position:absolute;top:80px;left:4%;display:flex;align-items:center;}
#mask.con86 .pop_body .ctrl .pagenum{padding:0 20px;color:#747EA5;font-weight:bold}
#mask.con86 .pop_body .ctrl .bn_prev .ico.bi-arr-g{transform:rotate(-180deg);}

#mask.con86 .pop_body .lcon{width:calc(100% - 340px);padding:80px 4%;border-right:1px solid #D9D9D9 }
#mask.con86 .pop_body .lcon .btnwrap{display:flex;justify-content:flex-end;width:auto;padding-top:0;}
#mask.con86 .pop_body .lcon .imgwrap{position:relative;padding:10px 0 0;}
#mask.con86 .pop_body .lcon .imgwrap img{width:100%;height:auto;}
#mask.con86 .pop_body .lcon .imgwrap .area{position:absolute;border:5px solid #F66D6D}
#mask.con86 .pop_body .lcon .imgwrap .area .bn_close{position:absolute;top:-15px;right:-15px;display:flex;justify-content:center;align-items:center;width:36px;height:36px;background:#F66D6D;border-radius:100px;;}
#mask.con86 .pop_body .lcon .imgwrap .area .bn_close i{width:15px;height:15px;background: url(../images/common/ico_close_w.svg) no-repeat 50% 50%;}

#mask.con86 .pop_body .lcon .imgwrap .area.area_circle{border-radius:100%;}
#mask.con86 .pop_body .lcon .imgwrap .area.area_circle .bn_close{top:50%;right:0;margin-top:-32%;margin-right:-16px;}

#mask.con86 .pop_body .lcon .imgwrap .area.point{border:0;}
#mask.con86 .pop_body .lcon .imgwrap .area.point .ico_point{position:absolute;display:block;width:44px;height:44px;border:5px solid #0057FF;border-radius:100px;background:#fff url(../images/content/ico_point_check.svg) no-repeat 50% 50%;}
#mask.con86 .pop_body .lcon .imgwrap .area.point .boxtext{margin:20px 0 0 20px;width:420px;padding:60px 30px 50px;background:#fff;border:5px solid #0057FF;}
#mask.con86 .pop_body .lcon .imgwrap .area.point .boxtext .input_row{padding:5px 0;}
#mask.con86 .pop_body .lcon .imgwrap .area.point .boxtext .input_row .bar_title{min-width:80px;padding:5px 10px;margin-right:10px;border:1px solid #747EA5;border-radius:100px;text-align:center}
#mask.con86 .pop_body .lcon .imgwrap .area.point .boxtext .input_row .box_input{width:calc(100% - 90px);}
#mask.con86 .pop_body .lcon .imgwrap .area.point .bn_close_gray{position:absolute;right:25px;top:45px;width:24px;height:24px;background:url(../images/common/ico_close_g.svg);}



#mask.con86 .pop_body .listwrap{width:340px;height:90%;padding:100px 50px 80px;overflow:auto;}
#mask.con86 .pop_body .list{display:flex;flex-direction:column;gap:20px;}
#mask.con86 .pop_body .list .select{border:6px solid #0057FF}


.con93 .input_row{margin-right:10px;margin-bottom:5px;}

.con115 .view .colwrap.col2 h4{width:120px}
.con115 .view .mid .rcon{width:calc(100% - 120px)}
.con115 .view .input_row .bar_title{width:75px;}
.con115 .view .input_row:last-child{flex-grow:0;}
.con115 .view .input_form .w100p{width: calc(100% - 75px);}
@media screen and (max-width:1700px){
    .con115 .view .additem .item, 
    .con115 .view .additem .item.box_period{flex-wrap:wrap;margin-bottom:30px;}
    .con115 .view .additem.no_mar .item{margin-bottom:0;}
    .con115 .view .input_row:last-child{width:auto!important;}
    
}

@media screen and (max-width:1700px){
    .con108 .view .colwrap.col2,
    .con113 .view .colwrap.col2{flex-direction: column;}
    .con108 .view .mid .rcon,
    .con113 .view .mid .rcon{width:100%;margin-top:10px;}
}

.con96 .view .row,
.con106 .view .row{flex-wrap:wrap;}

.con124 .view .mid_wrap_col2 .mid .btn_input .w100p{width:calc(100% - 195px);}
.con124 .free_row .bar_title{width:140px;}
.con124 .view .mid .sc_group li{float:none;width:100%}
@media screen and (max-width:1500px){
    .con124 .view .free_row .input_row:last-child{flex-direction: column;}
    .con124 .view .free_row .input_row:last-child .w130_w100p{width:100%;}
    .con124 .free_row .bar_title{width:auto;text-align:left;}
}
