@charset "utf-8";

@keyframes icomove{
    0%,100%{
        transform:translate(0,0);
    }
    50%{
        transform:translate(0,-5%);
    }
}

.main {position:relative;height:100vh;background:url(../images/main/bg.svg) no-repeat 100% 100%;}
.main:after{content:"";display:block;position:absolute;right:0;bottom:0;max-width:1069px;width:70%;height:100%;background:url(../images/main/obj.svg) no-repeat;background-size:80% auto;background-position:100% 100%;z-index:0;}
.main .container{height:100vh;display:flex;flex-direction:column;justify-content:center;gap:20px;padding:0 10%;}
.main .tit{margin-top:-10px;}
.main .tit *{font-size:3.8rem;color:#484848;font-family: 'GmarketSansB';}
.main .tit b{display:block;width:265px;height:65px;margin-left:-40px;margin-bottom:10px;background:url(../images/main/logo.svg) no-repeat;background-size:auto 100%;text-indent:-999px;overflow:hidden;}
.main .tit span{color:#C2192E}

@media screen and (max-width:1024px){
    .main .tit *{font-size:3.2rem;}
}
@media screen and (max-width:768px){
    .main:after{background-size: 98% auto;}
    .main .tit *{line-height:1.3;display: flex;flex-wrap: wrap;align-items: center;flex-direction: column;justify-content: center;}
    .main .tit{margin-top:0}
    .main .tit b{height:44px;}
}

@media screen and (max-width:767px){
    .main {height:auto;background-size: auto 124%;background-position: 78% 100%;}
    .main .container{height:auto;padding-top:10%;}
    .main .tit *{font-size:2.8rem;}
}
@media screen and (max-width:480px){
    .main .tit *{font-size:1.6rem;flex-direction:row}
    .main .tit b{height:36px;background-position:center;}
    .main .tit span{margin-left:4px;}
    .main:after{display:none;}
}
.main .menuwrap{display:flex;gap:30px;padding-bottom:20px;text-align:center;margin:20px 0;z-index:1;}
.main .menuwrap a{display:flex;flex-direction:column;font-family: 'GmarketSansB';}
.main .menuwrap a .bnico{display:block;width:160px;height:160px;background:red;border-radius:30px;}
.main .menuwrap a .bnico i{position:relative;display:block;width:100%;height:100%;background-repeat:no-repeat;background-position:50% 50%;z-index:10;}
.main .menuwrap a .bnico.ico1{background-color:#C2192E;}
.main .menuwrap a .bnico.ico2{background-color:#F8C81F;}
.main .menuwrap a .bnico.ico3{background-color:#4F4023;}
.main .menuwrap a .bnico.ico4{background-color:#B8CE46;}
.main .menuwrap a .bnico.ico1 i{background-image:url(../images/main/ico1.svg)}
.main .menuwrap a .bnico.ico2 i{background-image:url(../images/main/ico2.svg)}
.main .menuwrap a .bnico.ico3 i{background-image:url(../images/main/ico3.svg)}
.main .menuwrap a .bnico.ico4 i{background-image:url(../images/main/ico4.svg)}

.main .menuwrap a .bnico{position:relative;margin-bottom:10px;transition:all 0.4s;overflow:hidden;}
.main .menuwrap a .bnico:after{content: ""; z-index: -1; position: absolute; transition: all .2s;left: 0; top: 50%; transform: translateY(-50%); width: 100%; height: 0;z-index:1;}
.main .menuwrap a:hover .bnico:after{height: 100%;}
.main .menuwrap a:hover .bnico.ico1:after{background-color:#920315;}
.main .menuwrap a:hover .bnico.ico2:after{background-color:#fff;}
.main .menuwrap a:hover .bnico.ico3:after{background-color:#6D4800;}
.main .menuwrap a:hover .bnico.ico4:after{background-color:#307506;}

.main .menuwrap a:hover .bnico{margin-bottom:15px;box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2), 0 6px 4px rgba(0, 0, 0, 0.2);}
.main .menuwrap a:hover .bnico i{animation:icomove 1s infinite linear;transition:all 0.5s;}


@media screen and (min-width:769px) and (max-width:1279px) {
    .main .menuwrap a .bnico{width:130px;height:130px;}
}
@media screen and (max-width:769px){
    .main .menuwrap{flex-wrap:wrap;padding:0 14%;justify-content: center;}
}
@media screen and (max-width:640px){
    .main .menuwrap{padding:0;}
}
@media screen and (max-width:480px) {
    .main .menuwrap{padding:0;gap:20px;}
    .main .menuwrap a .bnico{display:flex;justify-content:center;align-items:center;width:100px;height:100px;border-radius:20px;}
    .main .menuwrap a .bnico i{width:100%;height:50%;background-size:auto 100%;}
}


.main .logininfo{display:flex;gap:4px;align-items:center;padding-left:10px;z-index: 1;}
.main .logininfo:before{content:"";display:block;width:14px;height:4px;background:#848484;border-radius:20px;}
.main .logininfo p{margin-right:10px;}

@media screen and (max-width:1024px){
    .main .logininfo{padding-bottom:20%;}
}
@media screen and (max-width:768px){
    .main .logininfo{justify-content:center;flex-wrap:wrap;}
}
@media screen and (max-width:640px){
    .main .logininfo{padding-left:0;padding-bottom:10%;}
    .main .logininfo:before{display:none;}
    .main .logininfo p{width:100%;text-align:center;font-size:0.8em;}
}
#footer{position:fixed;left:10%;bottom:50px;z-index:999;}
#footer p{font-family: 'GmarketSansM';font-size:12px;color:#616161;}

@media screen and (max-width:767px){
    #footer{position:static;padding-bottom:30px;}
    #footer p{font-size:0.6em;text-align:center;}
}